<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>小米贷款</title>
    {% include "../common/header.html" %}
    <link rel="stylesheet" href="{{ CSS_PATH }}/{{ cssMap['activity_xiaomi.css'] }}">
</head>
<body>
<div class="xiaomi-wrapper">
    <div class="xiaomi-activity-header">
        <img src="{{ IMG_PATH }}/activity_xiaomi/activity_xiaomi_logo.png" alt="">
        <div class="contact-us">
            <div class="info">联系我们</div>
            <div class="telphone">400-100-5678</div>
            <div class="info">周一至周日 8:00-18:00</div>
        </div>
    </div>
    <div class="xiaomi-activity-banner-div">
        <div class="xiaomi-activity-banner">
            <img src="{{ IMG_PATH }}/activity_xiaomi/activity_xiaomi_banner.png" alt="">
            <div class="apply-form">
                <div class="icon-xiaomi_applyform_title apply-form-title"></div>
                <div class="item-detail">
                    <div class="apply-form-label">姓名</div><input type="text" class="apply-form-input" id="apply-name">
                </div>
                <div class="item-detail">
                    <div class="apply-form-label">手机号码</div><input type="text" class="apply-form-input" id="apply-telephone">
                </div>
                <div class="item-detail">
                    <input type="button" class="apply-form-submit-button" value="马上申请">
                </div>
            </div>
        </div>
        <div class="clear-banner"></div>
    </div>
    <div class="xiaomi-activity-icons">
        <div class="icon-detail">
            <div class="icon-xiaomi_rate_low icon-background"></div>
            <p class="icon-detail-title">利率低</p>
            <p class="icon-detail-content">贷款1万起，月息60元起</p>
        </div>
        <div class="icon-detail">
            <div class="icon-xiaomi_loan_quick icon-background"></div>
            <p class="icon-detail-title">放款快</p>
            <p class="icon-detail-content">3分钟完成申请，20分钟钱款到账</p>
        </div>
        <div class="icon-detail">
            <div class="icon-xiaomi_lend_flexible icon-background"></div>
            <p class="icon-detail-title">借还灵活</p>
            <p class="icon-detail-content">按时计息，随借随还</p>
        </div>
    </div>
    <div class="xiaomi-quode-red">
        <div class="quode-div">
            <img src="{{ IMG_PATH }}/activity_xiaomi/activity_xiaomi_erweima.png" alt="">
            <div class="quode-div-text">
                <p class="quode-div-text-title">使用浏览器下载小米金融APP</p>
                <p class="quode-div-text-content">目前仅支持Android手机用户</p>
            </div>
        </div>
        <div class="icon-arrow middle-arrow"></div>
        <div class="red-div">
            <div class="red-div-text">
                <p class="red-div-text-content">1. 进入<span class="important-text">“贷款”</span></p>
                <p class="red-div-text-content">2. 申请<span class="important-text">“激活额度”</span></p>
                <p class="red-div-text-content">3. 获得<span class="important-text">“新人首次贷款7天</span></p>
                <p class="red-div-text-content"><span class="important-text">免息资格”</span></p>
            </div>
        </div>
    </div>
    <div class="xiaomi-footer">
        <div class="footer-text">*具体福利以登陆小米金融后显示为准</div>
    </div>
    <div class="xioami-modal xiaomi-activity-hide">
        <div class="xiaomi-modal-hider"></div>
        <div class="modal-content">

        </div>
    </div>
</div>
<div>
    {% for item in data %}
    <p>{{ item.name }}</p>
    {% endfor %}
</div>
<script type="text/javascript" src="/webroot/build/js/commons.fce3ad65.js"></script><script type="text/javascript" src="/webroot/build/js/activity_xiaomi.83810ffb.js"></script></body>