<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--样式-->
    <% if (env === 'development') { %>
    <link rel="stylesheet" href="<%= routePrefix %>/webroot/build/css/style.css">
    <link rel="stylesheet" href="<%= routePrefix %>/webroot/build/css/theme.css">
    <% } else { %>
    <link rel="stylesheet" href="<%= routePrefix %>/webroot/build/css/<%= cssMap['style.css'] %>">
    <link rel="stylesheet" href="<%= routePrefix %>/webroot/build/css/<%= cssMap['theme.css'] %>">
    <% } %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div id="app"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 1.12.4 -->
<!--<script src="<%= routePrefix %>/webroot/plugins/jQuery/jquery-1.12.4.min.js"></script>-->
<!-- jQuery 3.2.1 -->
<!--<script src="<%= routePrefix %>/webroot/plugins/jQuery/jquery-3.2.1.min.js"></script>-->
<!-- jQuery -->
<script src="<%= routePrefix %>/webroot/plugins/jQuery/jquery.min.js"></script>
<!--artDialog-->
<script type="text/javascript" src="<%= routePrefix %>/webroot/plugins/artDialog/dist/dialog-min.js"></script>

<form action="" method="get" style="display: none" id="excel-export"></form>
</body>
</html>
